.git
.venv
venv
__pycache__
*.pyc
data/raw/*
data/processed/*
!data/raw/movies.dat
models/*
.dvc/cache
mlflow_data
airflow_logs
postgres_data
prediction_logs
monitoring/prometheus_data
monitoring/grafana_data
docs
*.md
